<!-- COMPONENT START -->
<ion-grid class="wrapped">

    <!-- ROW -->
    <ion-row>

        <!-- TOTAL PROGRESS -->
        <ion-col class="ion-float-left">
            Total Progress:
            <ion-badge color="success">{{totalProgress}}%</ion-badge>
        </ion-col>

        <!-- TOTAL PROGRESS -->
        <ion-col class="ion-float-right">
            Phase Progress:
            <ion-badge color="danger">{{phaseProgress}}%</ion-badge>
        </ion-col>

    </ion-row>

</ion-grid>
<!-- COMPONENT ENDS -->
