#content-row{
  height: 65px;
}

#progress-bar-container {
  background-color: #dbdbdb;
  width: 100%;
  height: 100%;
}

#progress-bar-complete-indicator {
  width: 40%;
  height: 100%;
  background-color: #08c200;
  -webkit-box-shadow: inset -1px 0px 11px 0px rgba(2, 120, 26, 1);
  -moz-box-shadow: inset -1px 0px 11px 0px rgba(2, 120, 26, 1);
  box-shadow: inset -1px 0px 11px 0px rgba(2, 120, 26, 1);
}



.progress-bar-controllers {
  font-size: 30px
}

