#content-row {
  height: 65px;
}

#progress-bar-container {
  width: calc(100% - 60px);
  height: 81px;
  border-radius: 5px;
  overflow: auto;
  box-sizing: inherit;

}

#progress-bar-complete-indicator {
  width: 700px;
  height: 65px;
  background: linear-gradient(to left, #dbdbdb 90%, #08c200 10%);
}

.progress-bar-controllers {
  font-size: 30px;
  padding-bottom: 10px;
}

.badge {
  margin-left: 35px;
  font-size: 65px;
}
