<!-- GRID START -->
<ion-grid>

    <!-- ROW 1 START -->
    <ion-row id="content-row" class="ion-justify-content-between">

        <div class="ion-align-self-center">
            <ion-icon ios="ios-arrow-back" md="ios-arrow-back" class="progress-bar-controllers"></ion-icon>
        </div>

        <ion-col>
            <div id="progress-bar-container">

                <div id="progress-bar-complete-indicator"></div>

            </div>
        </ion-col>

        <div class="ion-align-self-center">
            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" class="progress-bar-controllers"></ion-icon>
        </div>


    </ion-row>
    <!--  ROW 1 END  -->

</ion-grid>
<!-- GRID END -->
