<!-- GRID START -->
<ion-grid>

    <!-- ROW 1 START -->
    <ion-row id="content-row" class="ion-justify-content-between">

        <!-- ARROW LEFT -->
        <div class="ion-align-self-center">
            <ion-icon ios="ios-arrow-back" md="ios-arrow-back" class="progress-bar-controllers"></ion-icon>
        </div>

        <!-- PROGRESS BAR -->
        <div id="progress-bar-container">

            <!-- COMPLETE INDICATOR -->
            <div id="progress-bar-complete-indicator">
                <ion-icon class="badge" name="checkmark-circle"></ion-icon>
                <ion-icon class="badge" name="checkmark-circle"></ion-icon>
                <ion-icon class="badge" name="checkmark-circle"></ion-icon>
                <ion-icon class="badge" name="checkmark-circle"></ion-icon>
                <ion-icon class="badge" name="checkmark-circle"></ion-icon>
                <ion-icon class="badge" name="checkmark-circle"></ion-icon>
                <ion-icon class="badge" name="checkmark-circle"></ion-icon>
            </div>

        </div>

        <!-- ARROW RIGTH -->
        <div class="ion-align-self-center">
            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" class="progress-bar-controllers"></ion-icon>
        </div>


    </ion-row>
    <!--  ROW 1 END  -->

</ion-grid>
<!-- GRID END -->
