<!-- LIST -->
<ion-list lines="inset">

    <!--  Step NO OBTAINED  -->
    <ion-item class="badge-no-obtained" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step No obtained
        </ion-label>
    </ion-item>

    <!--  Step OBTAINED -->
    <ion-item color="success" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step Obtained
        </ion-label>
    </ion-item>

    <!--  Step OBTAINED -->
    <ion-item color="success" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step Obtained
        </ion-label>
    </ion-item>

    <!--  Step OBTAINED -->
    <ion-item color="success" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step Obtained
        </ion-label>
    </ion-item>

    <!--  Step OBTAINED -->
    <ion-item color="success" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step Obtained
        </ion-label>
    </ion-item>


    <!--  Badge OBTAINED -->
    <ion-item color="warning" detail>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>
            Badge Obtained
        </ion-label>
    </ion-item>

    <!--  Step NO OBTAINED  -->
    <ion-item class="badge-no-obtained" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step No obtained
        </ion-label>
    </ion-item>

    <!--  Step NO OBTAINED  -->
    <ion-item class="badge-no-obtained" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step No obtained
        </ion-label>
    </ion-item>

    <!--  Step NO OBTAINED  -->
    <ion-item class="badge-no-obtained" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step No obtained
        </ion-label>
    </ion-item>

    <!--  Step NO OBTAINED  -->
    <ion-item class="badge-no-obtained" detail>
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>
            Step No obtained
        </ion-label>
    </ion-item>

    <!--  Badge NO OBTAINED -->
    <ion-item color="dark" detail>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>
            Badge No Obtained
        </ion-label>
    </ion-item>



</ion-list>

