ion-chip {
  --color: white;
}

ion-chip.blue {
  --background: #43acff;
}

ion-chip.lime {
  --background: #b0d524;
}

ion-chip.ambar {
  --background: #ffdc00;
}

ion-chip.wine {
  --background: #a50d67;
}
